
<!--
~ Copyright (c) 2019, Entgra (pvt) Ltd. (http://entgra.io) All Rights Reserved.
~
~ Entgra (pvt) Ltd. licenses this file to you under the Apache License,
~ Version 2.0 (the "License"); you may not use this file except
~ in compliance with the License.
~ You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing,
~ software distributed under the License is distributed on an
~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~ KIND, either express or implied.  See the License for the
~ specific language governing permissions and limitations
~ under the License.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ApplicationManagementCore">
    <test name="Util classes tests" preserve-order="true">
        <classes>
            <class name="io.entgra.application.mgt.core.BaseTestCase"/>
            <class name="io.entgra.application.mgt.core.dao.ApplicationManagementDAOTest"/>
            <class name="io.entgra.application.mgt.core.management.ApplicationManagementTest"/>
            <!--<class name="io.entgra.application.mgt.core.InitTest"/>-->
            <class name="io.entgra.application.mgt.core.ArtifactParserTest"/>
            <class name="io.entgra.application.mgt.core.StorageManagementUtilTest"/>
            <class name="io.entgra.application.mgt.core.ConfigurationTest"/>
            <class name="io.entgra.application.mgt.core.LifecycleManagementTest"/>
        </classes>
    </test>
</suite>