.demo-infinite-container {
    overflow: auto;
    padding: 8px 24px;
}
.demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.demo-loading {
    position: absolute;
    bottom: -40px;
    left: 50%;
}

img.twemoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}