<!--Currently corrective action policy selection is supported only for android devices.
Once this is supported for other device type the below condition can be removed.-->
{{#equal deviceType "android"}}
<div id="corrective-policy-select-field" class="select-corrective-policy">
    <div class="wr-input-control">
        <div class="cus-col-50">
            Select Corrective Policy
            <span class="helper">
                <i class="wr-help-tip glyphicon glyphicon-question-sign" title="Select the corrective policy to be applied when this general policy is violated"></i>
            </span>
            <!--suppress HtmlFormInputWithoutLabel -->
            <select id="corrective-policy-input" class="form-control select2">
                <option value="none">None</option>
                {{#each correctivePolicies}}
                    {{#equal this.platform ../deviceType}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/equal}}
                {{/each}}
            </select>
        </div>
        <br class="c-both"/>
    </div>
</div>
{{/equal}}