<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright (C) 2018 - 2023 Entgra (Pvt) Ltd, Inc - All Rights Reserved.
  ~
  ~ Unauthorised copying/redistribution of this file, via any medium is strictly prohibited.
  ~
  ~ Licensed under the Entgra Commercial License, Version 1.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     https://entgra.io/licenses/entgra-commercial/1.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<EmailSenderConfig>
    {% if email_sender_conf is defined %}
    <MinThreads>{{email_sender_conf.min_threads}}</MinThreads>

    <MaxThreads>{{email_sender_conf.max_threads}}</MaxThreads>

    <KeepAliveDuration>{{email_sender_conf.keep_alive_duration}}</KeepAliveDuration>

    <ThreadQueueCapacity>{{email_sender_conf.thread_queue_capacity}}</ThreadQueueCapacity>
    {% else %}
    <MinThreads>8</MinThreads>

    <MaxThreads>100</MaxThreads>

    <KeepAliveDuration>20</KeepAliveDuration>

    <ThreadQueueCapacity>1000</ThreadQueueCapacity>
    {% endif %}
</EmailSenderConfig>

