<!--
  ~ Copyright (c) 2018 - 2023, Entgra (Pvt) Ltd. (http://www.entgra.io) All Rights Reserved.
  ~
  ~ Entgra (Pvt) Ltd. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<module name="utils" xmlns="http://wso2.org/projects/jaggery/module.xml">
    <script>
        <name>reflection</name>
        <path>scripts/reflection/reflection.js</path>
    </script>
    <script>
        <name>file</name>
        <path>scripts/file/file.js</path>
    </script>
    <script>
        <name>patterns</name>
        <path>scripts/patterns/patterns.js</path>
    </script>
    <script>
        <name>xml</name>
        <path>scripts/xml/xml.js</path>
    </script>
    <script>
        <name>request</name>
        <path>scripts/request/request.js</path>
    </script>
    <script>
        <name>response</name>
        <path>scripts/response/response.js</path>
    </script>
    <script>
        <name>time</name>
        <path>scripts/time/time.js</path>
    </script>
    <script>
        <name>url</name>
        <path>scripts/url/url.js</path>
    </script>
    <script>
        <name>exception</name>
        <path>scripts/exception/exception.js</path>
    </script>
</module>
