.ant-upload.ant-upload-drag {
  height: 170px;
}

.release .release-icon{
  margin-right: 15px;
}

.release .release-icon img{
  width: 100%;
  border-radius: 28%;
}

.release .release-title{
  margin-left: 15px;
}

.release .release-screenshot img{
  width: 100%;
  border-radius: 15px;
  padding: 5px;
}

.logo {
  width: 120px;
  height: 31px;
  margin: 0 0 16px 20px;
  float: left;
}

.logo img{
  height: 35px;
}

.main-container{
  background: #f0f2f5;
  min-height: 780px
}

@media only screen and (min-width: 768px) {
  .main-container{
    padding: 24px;
  }
}